#landing {
  display: block;
  background-color: #f4f4f4;
  position: relative;
  text-align: center;
  padding: 3em 0;
  isolation: isolate;
  min-height: 42.5em;
}
#landing .content {
  width: 96%;
  max-width: 29em;
  text-align: left;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#landing .content span {
  background-color: #212121;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: white;
  display: block;
  width: max-content;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75em;
  margin-bottom: 2.66666667em;
}
#landing .content h1 {
  font-size: 3.6em;
  margin: 0 0 0.41666667em 0;
  text-transform: capitalize;
  line-height: 1;
  color: #fff;
}
#landing .content p {
  margin: 0 0 2em 0;
  color: #fff;
}
#landing .content .cta {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.75em 2em;
  color: white;
  transition: background-color 0.33s ease;
}
#landing .content .cta:hover {
  background-color: #212121;
}
#landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#landing picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media only screen and (min-width: 768px) {
  #landing {
    font-size: 1.7vw;
    padding: 6em 0;
  }
  #landing .content {
    margin: 0 3em 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  #landing {
    font-size: inherit;
    min-height: 45em;
  }
  #landing .content {
    margin-left: -15em;
  }
}
