#landing {
    display: block;
    background-color: #f4f4f4;
    position: relative;
    text-align: center;
    padding: 3em 0;
    isolation: isolate;
    min-height: (850/20em);

    .content {
        width: 96%;
        max-width: (580/20em);
        text-align: left;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        span {
            background-color: #212121;
            border-radius: .5em;
            padding: .5em 1em;
            color: white;
            display: block;
            width: max-content;
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: (15/20em);
            margin-bottom: (40/15em);
        }

        h1 {
            font-size: (72/20em);
            margin: 0 0 (30/72em) 0;
            text-transform: capitalize;
            line-height: 1;
            color: #fff;
        }

        p {
            margin: 0 0 (40/20em) 0;
            color: #fff;
        }

    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: fade(#000000, 40%);
        z-index: 2;
    }

    picture img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @media only screen and (min-width: 768px) {
        font-size: 1.7vw;
        padding: 6em 0;

        .content {
            margin: 0 3em 0 0;
        }
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        min-height: (900/20em);

        .content {
            margin-left: -15em;
        }
    }
}

#why {
    display: block;
    text-align: center;
    padding: 3em 0;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
        font-size: 1em;
    }

    @media only screen and (min-width: 768px) {
        font-size: 1.5vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 3em 0;
    }

    .container {
        width: 96%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .item {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        border: 1px solid #212121;
        padding: 2em;
        width: 100%;
        margin: 0 0 1em;
        box-shadow: var(--box-shadow);

        svg {
            height: (50/20em);
            width: auto;
            display: block;
            margin: 0 0 1em;
            color: var(--primary-color);
        }

        h3 {
            display: block;
            font-size: (24/20em);
            font-weight: bold;
            margin-bottom: (20/24em);
        }

        p {
            font-size: (18/20em);
            line-height: 1.5;
        }

        @media only screen and (min-width: 768px) {
            width: (370/20em);
            margin: 0;

            &:nth-child(2) {
                margin: 0 1.5em;
            }
        }

        @media only screen and (min-width: 1024px) {}
    }
}

#about {
    display: block;
    text-align: center;
    padding: 3em 0;
    position: relative;

    @media only screen and (min-width: 768px) {
        font-size: 1.5vw;
    }

    @media only screen and (min-width: 1024px) {
        font-size: inherit;
        padding: 0em 0 5em;

        &::before {
            content: '';
            z-index: -1;
            width: (998/20em);
            height: (559/20em);
            position: absolute;
            top: 0;
            right: 50%;
            display: block;
            background: url(/aboutdecor.png) center / cover no-repeat;
        }
    }

    .decoration {
        display: inline-block;
        vertical-align: middle;
        width: (678/20em);
        height: (588/20em);
        position: relative;
        margin: 0 0 2em;
        font-size: 2.8vw;

        @media only screen and (min-width: 570px) {
            font-size: inherit;
        }

        @media only screen and (min-width: 768px) {
            margin: 0 2em 0 0;
        }

        @media only screen and (min-width: 1024px) {
            font-size: .9em;
        }

        .img01 {
            position: absolute;
            display: block;
            width: (631/20em);
            height: auto;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .img02 {
            position: absolute;
            display: block;
            width: (462/20em);
            height: auto;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .box {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--primary-color);
            color: white;
            width: (197/20em);
            height: (178/20em);
            box-shadow: var(--box-shadow);

            span {
                display: block;
                text-transform: capitalize;

                .trait {
                    display: block;
                    font-size: (40/20em);
                }
            }
        }


    }

    .content {
        display: inline-block;
        vertical-align: middle;
        width: 96%;
        max-width: (522/20em);
        text-align: left;
        margin: 0;

        @media only screen and (min-width: 768px) {
            margin: 0 0 0 2em;
        }

        span {
            display: block;
            color: var(--primary-color);
            font-size: (16/20em);
            margin-bottom: (16/16em);
            text-transform: uppercase;
        }

        h2 {
            font-size: (49/20em);
            line-height: 1.2;
            margin-bottom: (20/20em);
        }

        p {
            display: block;
            margin: 0 0 (40/20em) 0;
        }
    }
}