#landing {
  display: block;
  background-color: #f4f4f4;
  position: relative;
  text-align: center;
  padding: 3em 0;
  isolation: isolate;
  min-height: 42.5em;
}
#landing .content {
  width: 96%;
  max-width: 29em;
  text-align: left;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#landing .content span {
  background-color: #212121;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: white;
  display: block;
  width: max-content;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75em;
  margin-bottom: 2.66666667em;
}
#landing .content h1 {
  font-size: 3.6em;
  margin: 0 0 0.41666667em 0;
  text-transform: capitalize;
  line-height: 1;
  color: #fff;
}
#landing .content p {
  margin: 0 0 2em 0;
  color: #fff;
}
#landing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#landing picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media only screen and (min-width: 768px) {
  #landing {
    font-size: 1.7vw;
    padding: 6em 0;
  }
  #landing .content {
    margin: 0 3em 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  #landing {
    font-size: inherit;
    min-height: 45em;
  }
  #landing .content {
    margin-left: -15em;
  }
}
#brands {
  text-align: center;
  display: block;
  padding: 3em 0;
}
@media only screen and (max-width: 479px) {
  #brands {
    font-size: 1em;
  }
}
@media only screen and (min-width: 480px) {
  #brands {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 979px) {
  #brands {
    font-size: inherit;
    padding: 0em 0 3em;
  }
}
#brands h2 {
  display: block;
  font-size: 1.95em;
  text-transform: capitalize;
  margin-bottom: 1.28205128em;
  line-height: 1.2;
}
#brands a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5em;
}
@media only screen and (max-width: 479px) {
  #brands a {
    margin: 5%;
    width: 35%;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 480px) {
  #brands a {
    margin: 0 1.5em;
  }
}
#brands a.chev {
  width: 10em;
  height: 3.6em;
}
#brands a.honda {
  height: 5em;
}
#brands a.ford {
  width: 10em;
  height: 3.75em;
}
#brands a.dodge {
  height: 5em;
}
#brands a.toyota {
  height: 5em;
}
#brands a.nissan {
  height: 6.25em;
}
#brands a img {
  width: 100%;
  height: 100%;
}
#why {
  display: block;
  text-align: center;
  padding: 3em 0;
  overflow: hidden;
  display: none;
}
@media only screen and (max-width: 767px) {
  #why {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  #why {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  #why {
    font-size: inherit;
    padding: 3em 0;
  }
}
#why .container {
  width: 96%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
#why .item {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  border: 1px solid #212121;
  padding: 2em;
  width: 100%;
  margin: 0 0 1em;
  box-shadow: var(--box-shadow);
}
#why .item svg {
  height: 2.5em;
  width: auto;
  display: block;
  margin: 0 0 1em;
  color: var(--primary-color);
}
#why .item h3 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.83333333em;
}
#why .item p {
  font-size: 0.9em;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  #why .item {
    width: 18.5em;
    margin: 0;
  }
  #why .item:nth-child(2) {
    margin: 0 1.5em;
  }
}
#about {
  display: block;
  text-align: center;
  padding: 3em 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #about {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1024px) {
  #about {
    font-size: inherit;
    padding: 5em 0 5em;
  }
  #about::before {
    content: '';
    z-index: -1;
    width: 49.9em;
    height: 27.95em;
    position: absolute;
    top: 0;
    right: 50%;
    display: block;
    background: url(/aboutdecor.png) center / cover no-repeat;
  }
}
#about .decoration {
  display: inline-block;
  vertical-align: middle;
  width: 33.9em;
  height: 29.4em;
  position: relative;
  margin: 0 0 2em;
  font-size: 2.8vw;
}
@media only screen and (min-width: 570px) {
  #about .decoration {
    font-size: inherit;
  }
}
@media only screen and (min-width: 768px) {
  #about .decoration {
    margin: 0 2em 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  #about .decoration {
    font-size: 0.9em;
  }
}
#about .decoration .img01 {
  position: absolute;
  display: block;
  width: 31.55em;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}
#about .decoration .img02 {
  position: absolute;
  display: block;
  width: 23.1em;
  height: auto;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#about .decoration .box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  width: 9.85em;
  height: 8.9em;
  box-shadow: var(--box-shadow);
}
#about .decoration .box span {
  display: block;
  text-transform: capitalize;
}
#about .decoration .box span .trait {
  display: block;
  font-size: 2em;
}
#about .content {
  display: inline-block;
  vertical-align: middle;
  width: 96%;
  max-width: 26.1em;
  text-align: left;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  #about .content {
    margin: 0 0 0 2em;
  }
}
#about .content span {
  display: block;
  color: var(--primary-color);
  font-size: 0.8em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#about .content h2 {
  font-size: 2.45em;
  line-height: 1.2;
  margin-bottom: 1em;
}
#about .content p {
  display: block;
  margin: 0 0 2em 0;
}
#callouts {
  display: block;
  text-align: center;
  padding: 2em 0;
}
@media only screen and (max-width: 510px) {
  #callouts {
    font-size: 3.1vw;
  }
}
@media only screen and (min-width: 768px) {
  #callouts {
    font-size: 1.035vw;
  }
}
@media only screen and (min-width: 1900px) {
  #callouts {
    font-size: inherit;
  }
}
#callouts .item {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  width: 31.5em;
  height: 23.85em;
  text-align: left;
  position: relative;
  overflow: hidden;
  margin: 0 0 0.5em;
}
@media only screen and (min-width: 768px) {
  #callouts .item {
    margin: 0;
  }
}
#callouts .item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  z-index: 2;
}
#callouts .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: transform 0.33s ease-in-out;
  display: block;
}
#callouts .item .text {
  position: absolute;
  bottom: 1.25em;
  left: 1.25em;
  display: block;
  z-index: 3;
}
#callouts .item .text h3 {
  color: #fff;
  font-size: 1.4em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.17857143em;
}
#callouts .item .text svg {
  display: inline-block;
  vertical-align: middle;
  width: 0.75em;
  height: auto;
  position: relative;
  transition: left 0.33s ease;
  left: 0;
}
#callouts .item:hover img {
  transform: scale(1.05);
}
#callouts .item:hover svg {
  left: 0.5em;
}
#ftmap {
  display: block;
  background: url(/map.jpg) center / auto no-repeat;
  text-align: center;
  padding: 3em 0;
}
@media only screen and (min-width: 768px) {
  #ftmap {
    font-size: 1.7vw;
    padding: 8.3em 0;
  }
}
@media only screen and (min-width: 1024px) {
  #ftmap {
    font-size: inherit;
  }
}
#ftmap .mod {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin: 0 auto;
  padding: 4em 4em;
}
#ftmap .mod p {
  margin-bottom: 1em;
}
#ftmap .mod a {
  text-transform: capitalize;
}
